@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@200&display=swap");

body{
    background-color: #FFF8E6;
    ;
}

.chat1 {
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  width: 60%;
  height: 90vh;
}

@media only screen and (max-width: 600px) {
  .chat1 {
    width: 90%; 
    padding: 10px; 
  }
}

.user {
  background-color: transparent;
  text-align: end;
  padding: 8px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.bot {
  text-align: start;
  margin-top: 12px;
  padding: 8px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.file-input-container {
  display: inline-block;
  position: relative;
}

input[type="file"] {
  position: absolute;
  left: -9999px;
}

label {
  cursor: pointer;
}

.down{
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 180px;
  margin-top: 10px;

}
.down1{
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: 165px;
  margin-top: 0px;

}
.span1{
  margin-left: 30px;
}
.download{
  padding: 6px ;
  background-color: #f7b11b;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.icon-sent1 {
  font-size: 10px;
  background-color: #212529;
  border-radius: 50%;
  padding: 9px;
}
.icon-sent3 {
    font-size: 10px;
    background-color: #f5b70c;
    border-radius: 50%;
    color: #212529;
    padding: 9px;
  }
.icon-sent2{
    font-size: 20px;
}

.icon-copy1 {
  color: gray;
  margin-left: 5px;
}

.message-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: white;
  border: 2px solid #f8f8f8;
  border-radius: 15px;
  position: fixed;
  bottom: 20px;
  width: 65%;
  left: 50%;
  transform: translateX(-50%);
  
}

@media only screen and (max-width: 600px) {
  .message-form {
    width: 90%; 
    border-radius: 12px;
    bottom: 30px; 
  }
  .down{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 135px;
    margin-top: 10px;
  
  }
  .down1{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 120px;
    margin-top: 10px;
  
  }
}
.messages-container {
  flex-grow: 1;
  overflow-y: auto;
}
.message-form textarea {
  flex: 1;
  resize: none;
  padding: 0px;
  border-radius: 0px;
  border: none;
}

textarea:focus {
  color: #212529;
  border-color: white;
  outline: 0;
  margin-right: 0px;
  border-radius: 5px;
}
.message-button {
  padding: 10px;
  background-color: white;
  color: #f7b11b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.file-input-container {
  position: relative;
}

.file-input-container input[type="file"] {
  position: absolute;
  left: -9999px;
}

.file-input-container label {
  cursor: pointer;
  padding: 10px;

  color: #f7b11b;
  border-radius: 5px;
}



.image-preview {
  max-width: 50px; 
  max-height: 50px; 
  overflow: hidden;
}

.image-preview img {
  width: 100%; 
  height: auto; 
}


.pdfimg{
  width: 30px;
  height: 30px;
}

 